<div class="issue-title"><%= issue.key %> <%= issue.title %></div>
<table class="issue-table">
  <tr><td>Project</td><td><%= issue.project.name %></td></tr>
  <tr><td>Sprint</td><td><%= (issue.sprint || { name: 'None' }).name %></td></tr>
  <tr><td>Type</td><td><%= issue.type %></td></tr>
  <tr><td>Priority</td><td><%= issue.priority %></td></tr>
  <tr><td>Status</td><td><%= issue.status %></td></tr>
</table>
<div class="issue-desc"><%= issue.description %></div>

<%- contentFor('title') %>
<%= issue.key %>
