<div class="issue-content" ng-app="issue">
  <div ng-controller="issueController">
    <div class="issue-title"><%= issue.key %> <%= issue.title %></div>
    <div class="issue-actions">
      <a class="btn btn-issue">Edit</a>
    </div>
    <table class="issue-table">
      <tr class="issue-property">
        <td>Project</td>
        <td>{{issue.project.name}}</td>
      </tr>
      <tr class="issue-property">
        <td>Sprint</td>
        <td>{{issue.sprint.name || 'None'}}</td>
      </tr>
      <tr class="issue-property">
        <td>Type</td>
        <td>{{issue.type}}</td>
      </tr>
      <tr class="issue-property">
        <td>Priority</td>
        <td>{{issue.priority}}</td>
      </tr>
      <tr class="issue-property">
        <td>Status</td>
        <td>{{issue.status}}</td>
      </tr>
      <tr class="issue-property">
        <td>Labels</td>
        <td><%= issue.labels %></td>
      </tr>
    </table>

    <div class="issue-desc-header">Description</div>
    <div class="issue-desc">
      <%= issue.description %>
    </div>

    <div class="activity" ng-controller="activity"></div>
  </div>
</div>

<%- contentFor('title') %>
<%= issue.key %>

<%- contentFor('end') %>
<script>
  let app = angular.module('issue', []);
  app.controller('issueController', ['$scope', IssueEditor]);
</script>
