<div class="project-list">
  <h3>Projects</h3>
  <% if (projects.length === 0) { %>
    <p class="no-records-text">There are currently no projects</p>
  <% } else { %>
    <table class="table projects-table">
      <thead>
        <tr>
          <th>Project Key</th>
          <th>Name</th>
          <th>Type</th>
          <th>Lead</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < projects.length; ++i) { %>
          <tr class="project-name-row">
            <td><%= projects[i].key %></td>
            <td><a href="/projects/<%= projects[i].key %>"><%= projects[i].name %></a></td>
            <td><%= projects[i].type %></td>
            <td>
              <% if (projects[i].lead) { %>
                <a href="/users/<%= projects[i].lead._id %>"><%= projects[i].lead.name() %></a>
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
</div>

<a class="btn btn-theme" href="/projects/new"><i class="fa fa-plus"></i> Add new project</a>

<%- contentFor('title') %>
Projects

<%- contentFor('end') %>

