<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- title %></title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components-font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/frontend.css">

    <script>var AUTH_TOKEN='<%= csrfToken %>'</script>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/showdown/dist/showdown.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/issues/index.js"></script>
    <script src="/js/issues/editor.js"></script>
    <script src="/js/projects/index.js"></script>
    <script src="/js/projects/edit.js"></script>
    <script src="/js/users/index.js"></script>
  </head>
  <body>
    <%- include('_topbar') %>
    <% if (showSidebar) { %>
      <%- include('_sidebar') %>
    <% } %>
    <div class="<%= showSidebar ? 'main-content' : 'landing-content' %>" ng-app="break">
      <%- body %>
    </div>

    <% if (typeof end !== 'undefined') { %>
      <%- end %>
    <% } %>
  </body>
</html>
